@charset "UTF-8";

/* ----- custom font ----- */

@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.video_controls {
    display: flex;
    align-content: center;
    justify-content: center;
}

.video-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 30px;
}

.fas {
    font-size: 2.3em;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;

}


.fas:hover {
    color: #43464B;
      transform: scale(1.3);
}


.house-info {
    color: white;
    width: 70%;
    font-size: 1.25em;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 1em;
}


body {
    background-image: url(../images/grungeBG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    font-size: 16px;
}

h1 {
    font-family: 'GOT_font';
    color: white;
    margin-top: 30px;
    font-size: 1.25em;
}

main {
    position: relative;
    width: 100%;
    text-align: center;
    top: 30px;
}

#imageContainer {
    width: 600px;
    height: 360px;
    background-color: grey;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

#houseImages {

    position: relative;
    width: 6000px;
    transition: all .5s;
}

#houseImages img {
    float: left;
}

#bottomNav {
    margin-top: 30px;
}

#navList li {
    display: inline;
    list-style-type: none;
    padding: 0px 10px;
    cursor: pointer;
}


.sigilContainer {
    width: 51px;
    height: 54px;
    display: inline-block;
    overflow: hidden;
    background-image: url(../images/GOT_sprites.png);
    background-repeat: no-repeat;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
}

.stark {
    background-position: 0px -54px;
}

.stark:hover {
    background-position: 0px 0px;
}

.baratheon {
    background-position: -50.5px -54px;
}

.baratheon:hover {
    background-position: -51px 0px;
}

.lannister {
    background-position: -101px -54px;
}

.lannister:hover {
    background-position: -101px 0px;
}

.tully {
    background-position: -152px -54px;
}

.tully:hover {
    background-position: -152px 0px;
}

.greyjoy {
    background-position: -202px -54px;
}

.greyjoy:hover {
    background-position: -202px 0px;
}

.arryn {
    background-position: -253px -54px;
}

.arryn:hover {
    background-position: -253px 0px;
}

.targaryen {
    background-position: -303px -54px;
}

.targaryen:hover {
    background-position: -303px 0px;
}

.tyrell {
    background-position: -353.5px -54px;
}

.tyrell:hover {
    background-position: -353.5px 0px;
}

.frey {
    background-position: -404px -54px;
}

.frey:hover {
    background-position: -404px 0px;
}


.scaleUp {
    -moz-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    transform: scale(1.7, 1.7);
}

.scaleHalfUp {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}



.lightbox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
}

.close-lb {
    float: right;
    padding-right: 40px;
    cursor: pointer;
    font-size: 3em;
    color: white;
    opacity: 0.6;
    transition: all .2s ease-in-out;
}

.close-lb:hover {
    opacity: 1;
      transform: scale(1.1);
}

video {
    width: 80%;
    border: thin solid #949393;
}

.show-lightbox {
    display: block;
}
